.nav{

}
.carousel slide{
    display: flex;
    flex-direction: column;
}

.carus{
    width: 100vw;
    height: 100vh;
}

.carus img{
    width: 100%;
    height: 100%;
}
.carus p {
    color: black;
}
 .carus .carousel-inner{
    width: 100%;
    height: 100%;
}

#carouselExampleCaptions{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}
.carus h5 {
    color: black;
}
.d-grid gap-2 d-md-block{
    color: black;
    display: flex;
    flex-direction: column;

}
.d-grid gap-2 d-md-block:hover{

}

st {
    font-weight: 1000;
    display: flex;
    flex-direction: column;
}
.btn btn-primary{
    color: black;
}